$pink: #F2A5A3;
$cyan: #89E0CD;
$dark-pink: #C058CB;
$blue: #5844E2;
$purple: #70356F;
$brown: #622926;
$purple-dark: #282974;
$purple-darker: #141B49;
$green: #1A3413;
$brown-light: #2C1E1D;
$green-dark: #0C170C;
$black: #000000;